/// #main { @extend %clearfix; }
/// #content { float: left; width: 70%; }
/// #sidebar { float: right; width: 25%; }

$base-text-interval: 14px !default;
.widget {
	margin-bottom: $base-text-interval;
	@extend %clearfix;
}
.widget ul{padding-left:2em;}
.widget select{min-width: 150px;}
.comment-form textarea,
.post-password-form input[type="password"],
.comment-form input[type="text"],
.search-form input[type="search"]{
	margin:0 4px 0 0;
	width:300px;
}
.post-password-form label{display: block;}
.post-password-form input[type="password"],
.search-form input[type="search"]{
	width:150px;
	margin: 0 10px 10px 0;
}
.post-password-form p,
.search-form{
	@extend %clearfix;
}
.post-password-form input,
.search-form input{
	float: left;
}
.comment-form input[type="submit"],
.post-password-form input[type="submit"],
.search-form input[type="submit"]{
	display:inline-block;
	vertical-align:top;
	height: 40px;
	border: none;
	padding: 5px 15px;
	box-shadow: 0px 4px 4px -7px #454545;
	background:#638da4;
	border-radius:8px;
	cursor:pointer;
	color:$white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	margin: 0 0 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #90a4ae;
	text-align: center;
	text-transform: capitalize;
	&:hover {
		background-color:#476e9e;
	}
	&:active {
		position:relative;
		top:1px;
	}
}
.comment-form input[type="submit"] {float: none; display: block;}
.commentlist{margin:0 0 $base-text-interval;}
.commentlist .edit-link{margin:0;}
.commentlist-item .commentlist-item {padding:0 0 0 3em;}
@media only screen and (max-width: 767px){.commentlist-item .commentlist-item {padding: 0;}}
.comment,
.commentlist-holder{overflow:hidden;}
.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item{padding-top:$base-text-interval;}
.commentlist .avatar-holder{
	float:left;
	margin:0 $base-text-interval 4px 0;
}
.comment-form label{
	display:block;
	padding-bottom:4px;
}
.comment-form textarea{
	padding:3px 4px;
	overflow:auto;
	margin:0;
	height:120px;
	min-height:120px;
}
.widget_calendar #next{text-align: right;}
.gallery-item dt{
	float:none;
	padding:0;
}
.navigation{
	overflow:hidden;
	margin:0 0 $base-text-interval;
}
.navigation .next{
	float:left;
}
.navigation .prev{
	float:right;
}
.wp-caption{
	max-width: 100%;
	clear:both;
	border:1px solid #ccc;
	padding:5px;
	margin-bottom: $base-text-interval;
}
.wp-caption img{vertical-align:top; margin:0;} 
.wp-caption p{margin:10px 0 0;}
div.aligncenter {margin: 0 auto $base-text-interval;}
img.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignleft {
	float: left;
	margin: 0 $base-text-interval 4px 0; 
}
.alignright {
	float: right;
	margin: 0 0 4px $base-text-interval; 
}
.mejs-container{
	margin-bottom: $base-text-interval;
}
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor{ height: auto; }

@media only screen and (max-width: 1023px){
	#wp-calendar{
		width: 100%;
		font-size: 10px;
		th, td{
			padding: 2px;
		}
	}
	pre{
		white-space: pre-line;
	}
}