// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$mountain-mist: #999;
$gray: #505150;
$orange: #f68933;


// base variables
$base-text-color: $gray;
$base-background-color: $white;
$base-link-color: $orange;
$base-form-text-color: $gray;
$base-form-placeholder-color: $gray;
$base-input-border-color: $gray;

$base-font-size: 12px;
$base-line-height: 24px;
$base-font-family: 'magraregular', sans-serif;
$base-text-interval: 14px;

$base-min-width: 320px;

$font-bold: 'magrabold', sans-serif;
$font-regular: 'vidaloka_regular', sans-serif;