// brand colors (http://name-of-color.com/)
$black: #3f3838;
$white: #fff;
$gray: #796c6c;
$red: #b61f2a;
$dark-red: #8a0b21;
$blue:#e2f7fb;
$gray2:#a19589;

// base variables
$base-text-color: $black;
$base-background-color: #dbcfb6;
$base-link-color: $red;
$base-form-text-color: $black;
$base-form-placeholder-color: $gray;
$base-input-border-color: $gray;

$base-font-size: 14px;
$base-line-height: 22px;
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$primary-font-family: 'Karma', "Times New Roman", Times, serif;


$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 